<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAteXvHafDS1gIGY5idb6m07Fj6JWcDBAw</string>
	<key>GCM_SENDER_ID</key>
	<string>194025800391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodiary</string>
	<key>PROJECT_ID</key>
	<string>moodiary-notifs-2026-92842</string>
	<key>STORAGE_BUCKET</key>
	<string>moodiary-notifs-2026-92842.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194025800391:ios:4f8ebc8452033f655db4e2</string>
</dict>
</plist>